* {
    font-weight: 500;
    margin: 0 0 5px;
    padding: 0;
}

.container {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.card {
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 500px;
}

p {
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
}

.item-img {
    width: 100%;
}

.content-container {
    padding: 10px;
}

.tags {
    font-weight: 700;
}

h2 {
    font-family: Fraunces;
    font-weight: 700;
    color: hsl(212, 21%, 14%);
    margin: 10px 0 15px;
}

.pricing-container {
    margin: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.pricing-container #current-price {
    font-size: 25px;
    font-family: Fraunces;
    font-weight: 700;
    color: hsl(158, 36%, 37%);
}

.pricing-container #original-price {
    text-decoration-line: line-through;
}

.button {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    gap: 5px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(158, 36%, 37%);
    border-radius: 5px;
    align-items: center;
}

.button:hover {
    cursor: pointer;
    background-color: hsl(158, 36%, 30%);
}

.button p {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
}

@media(min-width: 475px){
    .card {
        flex-direction: row;
        width: 500px;
        height: 350px;
    }

    .item-img {
        content: url("./images/image-product-desktop.jpg");
        height: 100%;
    }

    .img-container {
        width: 50%;
        margin: 0;
    }

    .content-container {
        padding: 20px;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
}